$yellow:  #FFF7AD;
$green:   #294A42;
$gray-500: #F7F9F7;
$gray-600: #D2DAD2;

$primary:       $green;
$secondary:     $yellow;
$info:          $gray-600;
$light:         $gray-500;

$link-color:                              $secondary;
$body-bg:                   $gray-500;
$body-color:                $primary;